<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          th:href="@{https://use.fontawesome.com/releases/v5.7.0/css/all.css}" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://cdn.bootcss.com/fabric.js/2.7.0/fabric.min.js"
            th:src="@{https://cdn.bootcss.com/fabric.js/2.7.0/fabric.min.js}"></script>

    <style>
        body {
            padding-top: 56px;
            background-color: whitesmoke;
        }

        .far:hover, .fas:hover{
            cursor: pointer;
        }

        .card-header, .card-footer{
            background-color: white;
        }

        .blogBody{
            background-color: whitesmoke;
            padding: 10px 10px 2px 10px;
        }

        hr{
            margin: 0;
        }

        canvas {
            border: 1px solid black;
        }

        .selectedGenre{
            font-weight: bold;
        }


    </style>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">ComicFlips</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/series">Series</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Comic
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" th:href="@{/create}">Create Comic</a>
                        <a class="dropdown-item" href="#" th:href="@{/component}">Create Component</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown dropdown">
                        <i class="fas fa-user-circle" style="font-size: 30px; color:white;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" th:href="@{/login}" th:style="${user == '' ? '' : 'display:none'}">Login</a>
                            <a class="dropdown-item" href="#" th:href="@{/register}" th:style="${user == '' ? '' : 'display:none'}">Register</a>
                            <a class="dropdown-item" href="#" th:href="@{/profile}" th:style="${user == '' ? 'display:none' : ''}">View Profile</a>
                            <a class="dropdown-item" href="/logout" th:style="${user == '' ? 'display:none' : ''}">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div id = "posts" class="col-md-8">

                <h3 class="my-4" style="text-align: center;" th:text="${title}">
                    All Comics
                </h3>

                <!-- Blog Post -->
                <div class="card mb-4" th:each="comic, iterStat : ${comics}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-md-1" style="margin: 0px;">
                                <i class="fas fa-user-circle" style="font-size:50px"></i>
                            </div>
                            <div class="col" style="float: left">
                                <h5 th:text="${comic.username}">User</h5>
                                <span class="date" th:text = "${comic.dateTime}">Time Stamp</span>
                            </div>
                        </div>
                    </div>
                    <a style="display: block; text-align: center;" th:href="@{/comic/{id}(id=${comic.id})}"><canvas class="card-img-top" width = "350" height="350" th:value="${comic.canvases[0]}"></canvas></a>
                    <hr>
                    <div class="card-body blogBody">
                        <h5><strong th:text="${comic.name}">Post Title</strong></h5>
                    </div>
                    <hr>
                    <span style="padding: 5px 10px 5px 10px;">
                        <div class="d-flex">
                            <div class="genre" th:each="genre : ${comic.tags}">
                                <span th:text="${genre + ', '}">Action, Comedy, Mystery</span>
                            </div>
                        </div>
                    </span>
                    <hr>
                    <span th:id="${comic.id}" style="padding: 5px 10px 5px 10px;font-size: small;" th:text="${comic.likes + ' likes, ' + #lists.size(comic.comments) + ' comments'}">2 Likes, 5 Comments</span>
                    <div class="card-footer">
                        <div class="row" style="text-align: center">
                            <div class="col">
                                <i class="far fa-thumbs-up" style="font-size:20px;" th:style="${user != '' && likes[iterStat.index] == true ? 'color:blue' : 'color:rgb(33, 37, 41)'}" th:value="${comic.id}"><span style="padding: 10px;">Like</span></i>
                            </div>

                            <div class="col">
                                <i class="far fa-comment" style="font-size:20px;" th:href="@{/comic/{id}(id=${comic.id})}"><span style="padding: 10px;">Comment</span></i>
                            </div>

                            <div class="col">
                                <i class="fas fa-share" style="font-size:20px;"><span style="padding: 10px;font-weight: normal">Share</span></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <!--<ul class="pagination justify-content-center mb-4">-->
                    <!--<li class="page-item">-->
                        <!--<button class="btn btn-primary" type="button">Load More</button>-->
                    <!--</li>-->
                <!--</ul>-->

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4 ">

                <div class="sticky-top" style="top:65px;">
                    <!-- Side Widget -->
                    <div class="card my-3" style="text-align: center;">
                        <h5 class="card-header">Top Comics</h5>
                        <div class="card-body" style="font-size: 14px;">
                            <div class="row">
                                <div class="col">
                                    <a href = "#">Comic 1</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href = "#">Comic 1</a>
                                </div>                        </div>

                            <div class="row">
                                <div class="col">
                                    <a href = "#">Comic 1</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Search Widget -->
                    <div class="card my-3" style="text-align: center;">
                        <h5 class="card-header">Search</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input id = "searchFilter" type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                <button id = "searchButton" class="btn btn-primary" type="button">Search</button>
                            </span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card my-3" style="text-align: center">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row" style="font-size: 14px;">
                                <div class="col">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="">Action</a>
                                        </li>
                                        <li>
                                            <a href="">Adventure</a>
                                        </li>
                                        <li>
                                            <a href="">Comedy</a>
                                        </li>
                                        <li>
                                            <a href="">Crime</a>
                                        </li>
                                        <li>
                                            <a href="">Drama</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="">Fantasy</a>
                                        </li>
                                        <li>
                                            <a href="">Historical</a>
                                        </li>
                                        <li>
                                            <a href="">Horror</a>
                                        </li>
                                        <li>
                                            <a href="">Mystery</a>
                                        </li>
                                        <li>
                                            <a href="">Non-Fiction</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Political</a>
                                        </li>
                                        <li>
                                            <a href="#">Romance</a>
                                        </li>
                                        <li>
                                            <a href="#">Sci-Fi</a>
                                        </li>
                                        <li>
                                            <a href="#">Suspense</a>
                                        </li>
                                        <li>
                                            <a href="#">Thriller</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

    <script>
        $(document).ready(function(){
            $("canvas").each(function(e) {
                var firstCanvas = $(this).attr("value");
                // $(this).attr("value", "");
                var canvas = new fabric.StaticCanvas(this, { width: 350, height: 350 });
                canvas.loadFromJSON(firstCanvas);
            });

            $("#searchButton").on("click", function() {
                var value = $("#searchFilter").val().toLowerCase();
                $("#posts > .card").filter(function() {
                    $(this).toggle($(this).find(".card-body").text().toLowerCase().indexOf(value) > -1)
                });
            });
            //var genre = [];
            $(".list-unstyled").children().on("click", function (e) {
                e.preventDefault();
                //genre.push($(this).text().trim().toLowerCase());
                var genre = $(this).text().trim().toLowerCase();
                console.log(genre);
                if($(this).hasClass("selectedGenre")){
                    $(this).removeClass("selectedGenre");
                    genre = "";
                }else{
                    $(".selectedGenre").removeClass("selectedGenre");
                    $(this).addClass("selectedGenre");
                }

                $("#posts > .card").filter(function() {
                    // if($(this).is(':visible')){
                    //     $(this).toggle($(this).find(".genre").text().trim().toLowerCase().indexOf(genre) > -1);
                    // }
                    $(this).toggle($(this).find(".genre").text().trim().toLowerCase().indexOf(genre) > -1);
                });
            })

            $(".date").each(function (e) {
                var dateString = $(this).text();
                console.log("Published: " + new Date(dateString));
                var timeStamp = timeSince(new Date(dateString));
                $(this).text(timeStamp + " ago");
            })

            $(".fa-thumbs-up").on("click", function (e) {
                console.log($(this).attr("value"));
                var id = $(this).attr("value");
                var ex = $(this);
                if($(this).css("color")== "rgb(33, 37, 41)") {
                    $.post('/editLike',   // url
                        { liked: true, comicID: id},
                         function(data, status, jqXHR) {// success callback
                            console.log('status: ' + status + " data: " + data);
                            if(data == "success"){
                                console.log(ex)
                                ex.css("color", "blue");
                                var text = document.getElementById(id).innerText.split(" ");
                                text[0] = (parseInt(text[0]) + 1).toString();
                                var newtext = text.join(" ");
                                document.getElementById(id).innerText = newtext;
                                //console.log(document.getElementById("likeCommentCount").innerText)
                            }
                            else{
                                alert("You cannot like the comic.")
                            }
                        });
                    // $(this).css("color", "blue");
                    // var text = document.getElementById(id).innerText.split(" ");
                    // text[0] = (parseInt(text[0]) + 1).toString();
                    // var newtext = text.join(" ");
                    // document.getElementById(id).innerText = newtext;
                    // $.post('/editLike',   // url
                    //     { liked: true, comicID: id}); // data to be submit
                }
                else{
                    $(this).css("color", "rgb(33, 37, 41)");
                    var text = document.getElementById(id).innerText.split(" ");
                    text[0] = (parseInt(text[0]) - 1).toString();
                    var newtext = text.join(" ");
                    document.getElementById(id).innerText = newtext;
                    $.post('/editLike',   // url
                        { liked: false, comicID: id}); // data to be submit
                }
            })


        });

        var timeSince = function(date) {
            if (typeof date !== 'object') {
                date = new Date(date);
            }
            console.log("Time Now; " + new Date());
            var seconds = Math.floor((new Date() - date) / 1000);
            var intervalType;

            var interval = Math.floor(seconds / 31536000);
            if (interval >= 1) {
                intervalType = 'year';
            } else {
                interval = Math.floor(seconds / 2592000);
                if (interval >= 1) {
                    intervalType = 'month';
                } else {
                    interval = Math.floor(seconds / 86400);
                    if (interval >= 1) {
                        intervalType = 'day';
                    } else {
                        interval = Math.floor(seconds / 3600);
                        if (interval >= 1) {
                            intervalType = "hour";
                        } else {
                            interval = Math.floor(seconds / 60);
                            if (interval >= 1) {
                                intervalType = "minute";
                            } else {
                                interval = seconds;
                                intervalType = "second";
                            }
                        }
                    }
                }
            }

            if (interval > 1 || interval === 0) {
                intervalType += 's';
            }
            if(interval < 0){
                interval = 0;
            }
            return interval + ' ' + intervalType;
        };
    </script>

</body>

</html>