<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          th:href="@{https://use.fontawesome.com/releases/v5.7.0/css/all.css}" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://cdn.bootcss.com/fabric.js/2.7.0/fabric.min.js"
            th:src="@{https://cdn.bootcss.com/fabric.js/2.7.0/fabric.min.js}"></script>

    <script>
        $(document).ready(function(){
            $("#update").hide();
            
            $(".btn-danger").on("click", function () {
                var group = $(this).val();
                var parent = $(this).parent().parent();
                console.log(group);
                $.post('/unsubscribe',   // url
                    { group: group}, // data to be submit
                    function(data, status, jqXHR) {// success callback
                        console.log('status: ' + status + ', data: ' + data);
                        parent.remove();
                    });
            })

            $("#edit").on("click", function(e){
                e.preventDefault();
                $(this).hide();
                $("#update").show();
                $("#firstName").prop("disabled", false);
                $("#firstName").val($("#firstName").attr("placeholder"));
                $("#lastName").prop("disabled", false);
                $("#lastName").val($("#lastName").attr("placeholder"));
                $("#username").val($("#username").attr("placeholder"));
                $("#email").prop("disabled", false);
                $("#email").val($("#email").attr("placeholder"));
                $("#password").prop("disabled", false);
                $("#password").val($("#password").attr("placeholder"));
            })

            $("#comics > div > canvas").each(function(e) {
                var firstCanvas = $(this).attr("value");
                // $(this).attr("value", "");
                var canvas = new fabric.StaticCanvas(this, { width: 350, height: 350 });
                canvas.loadFromJSON(firstCanvas);
            });

            $("#components > div > canvas").each(function(e) {
                var firstCanvas = $(this).attr("value");
                $(this).attr("value", "");
                var canvas = new fabric.StaticCanvas(this, { width: 200, height: 200 });
                this.fabric = canvas;
                canvas.loadFromJSON(firstCanvas);

                var objects = canvas.getObjects();
                var factorX = 200/900;
                var factorY = 200/900;

                var tcounter = 0;

                for (var i in objects) {

                    tcounter++;

                    var scaleX = objects[i].scaleX;
                    var scaleY = objects[i].scaleY;
                    var left = objects[i].left;
                    var top = objects[i].top;

                    var tempScaleX = scaleX * factorX;
                    var tempScaleY = scaleY * factorY;
                    var tempLeft = left * factorX;
                    var tempTop = top * factorY;

                    objects[i].scaleX = tempScaleX;
                    objects[i].scaleY = tempScaleY;
                    objects[i].left = tempLeft;
                    objects[i].top = tempTop;
                    objects[i].setCoords();
                }
                canvas.renderAll();
                canvas.calcOffset();
            });
        })
    </script>
    <style>
        body {
            padding-top: 56px;
            background-color: whitesmoke;
        }

        i:hover{
            cursor: pointer;
        }

        .card-header, .card-footer{
            background-color: white;
        }

        .blogBody{
            background-color: whitesmoke;
            padding: 10px 10px 2px 10px;
        }

        hr{
            margin: 0;
        }

        .form-group{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        #comics > .card, #components > .card {display:inline-block;}


    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#" th:href="@{/}">ComicFlips</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Comic
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" th:href="@{/create}">Create Comic</a>
                            <a class="dropdown-item" href="#" th:href="@{/component}">Create Component</a>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="dropdown dropdown">
                            <i class="fas fa-user-circle" style="font-size: 30px; color:white;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" th:href="@{/profile}">View Profile</a>
                                <a class="dropdown-item" href="/logout" >Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div class="col">
                <h3 style="text-align:center; margin-top: 1.5rem;margin-bottom: 1.5">
                    Profile
                </h3>

                <div class="card mb-4">
                    <h5 class="card-header" style="text-align: center">
                        Info
                    </h5>
                    <div class="card-body" style="text-align: center;">
                        <img src="http://placehold.it/500x400" alt="Card image cap">
                        <p></p>
                        <form th:action="@{/updateUser}" method="post" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label">First Name</label>
                                <div class="col">
                                    <input name="firstName" type="text" id="firstName" th:placeholder="${user.firstName}" class="form-control" autofocus disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                                <div class="col">
                                    <input name="lastName" type="text" id="lastName" th:placeholder="${user.lastName}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email</label>
                                <div class="col">
                                    <input name="email" type="email" id="email" th:placeholder="${user.email}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="col-sm-3 control-label">Username</label>
                                <div class="col">
                                    <input name="username" type="text" id="username" th:placeholder="${user.username}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">Password</label>
                                <div class="col">
                                    <input name="password"  type="password" id="password" placeholder="hidden" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col">
                                    <button id="edit" class="btn btn-primary" style="width: 100%;">Edit</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col">
                                    <button type="submit" id="update" class="btn btn-primary" style="width: 100%;">Update</button>
                                </div>
                            </div>
                        </form> <!-- /form -->
                    </div>
                </div>
            </div>
        </div>

        <h4 style="text-align: center;">My Comics</h4>

        <div id="comics" style="overflow: auto;  white-space: nowrap;">
            <div class="card" style="width: 360px; text-align: center; margin: 5px;" th:each="comic : ${comics}">
                <canvas class="border border-secondary" style="margin: 5px;" th:value="${comic.canvases[0]}"></canvas>
                <div class="card-body">
                    <h4 class="card-title" th:text="${comic.name}"></h4>
                </div>
                <div class="btn-group">
                    <a th:href="@{/comic/{id}(id=${comic.id})}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a th:href="@{/editComic/{id}(id=${comic.id})}" th:style="${comic.isPublic == true ? 'display:none' : ''}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                    <form method="post" th:action="@{/deleteComic/{id}(id=${comic.id})}">
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <h4 style="text-align: center;">My Components</h4>
        <div id="components" style="overflow: auto;  white-space: nowrap;">
            <div class="card" style="width: 250px;text-align: center" th:each="component : ${components}">
                <canvas th:value="${component.canvas}"></canvas>
                <div class="card-body">
                    <h4 class="card-title" th:text="${component.name}"></h4>
                </div>
                <form method="post" th:action="@{/deleteComponent/{id}(id=${component.id})}">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
                </form>
            </div>
        </div>

        <h4 style="text-align: center;">My Subscriptions</h4>
        <table id = "subscriptionTable" class="table table-bordered" bgcolor="white">
            <tbody>
                <tr th:each="group : ${user.subscriptions}">
                    <td style="text-align:center;" th:text="${group}">
                    </td>

                    <td style="text-align:center;">
                        <a th:href="@{/subscribed/{group}(group=${group})}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    </td>

                    <td style="text-align:center;">
                        <button type="button" class="btn btn-sm btn-danger" th:value="${group}">Unsubscribe</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>